<header class="banner">
  <img src="/Resources/images/logo.png" alt="Swap-o-meal" height="90" width="90" class="myImage"/>
  <span class="signin"> Not Signed In</span>
  <br><h1>Swap-o-meal</h1>
  <p>Swap your meals to enjoy various delicacies</p>
</header>
