<aside>
  <nav>
    <ul>
      <li><br><a href="/">Home</a></li>
      <li><br><a href="/categories">Categories</a></li>
      <li><br><a href="#">Store</a></li>
      <li><br><a href="/about">About</a></li>
      <li><br><a href="/contact">Contact Us</a></li>

    </ul>
    <br><br><br><br><br>
    <br>
  </nav>
</aside>
