<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- ******** -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- ******** -->

    <title>Swap-o-meal</title>
    <link href='/Resources/style.css' rel='stylesheet' type="text/css" />
  </head>

  <body>
    <% include partials/header.ejs %>
    <% include partials/user-navigation.ejs %>
    <main>
      <section>
        <img src="Resources/images/contact.png" alt="Swap-o-meal logo" height="200" width="655">
        <br>
        <h3>Contact Swap-o-meal</h3>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        <br>
        <h1>&#10077;</h1>
        <p><strong>Suite 200, Nbad dr.,</strong></p>
        <p><strong>UNCC, Charlotte,</strong></p>
        <p><strong>NC - 28261</strong></p>
        <p><i>email - </i><u>contact@swapomeal.com</u></p>
        <p><i>Phone - </i>(980)123-4567</p>
        <h1>&#10078;</h1>
      </section>
    </main>

    <% include partials/site-navigation.ejs %>
    <% include partials/footer.ejs %>
  </body>
</html>
